<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 화면에 출력 -->
	<bean id="ml" class="sp0424.logger.MyScreenLogger">
	</bean>
	<!-- 파일에 출력 -->
	<bean id="mfl" class="sp0424.logger.MyFileLogger">
	</bean>

	<!-- <bean id="hb" class="sp0424.bean.HelloBean"> <property name="logger" 
		ref="ml"></property> <property name="name" value="홍길동"></property> </bean> -->

	<bean id="hb" class="sp0424.bean.HelloBean" init-method="myInit">
		<constructor-arg name="logger" ref="ml"></constructor-arg>
		<constructor-arg name="name" value="김길동"></constructor-arg>
	</bean>
	<!-- 숫자맞추기 게임  -->
	<bean id="ng" class="sp0424.bean.NumberGuess">
	</bean>

</beans>
